* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    font-size: clamp(40%, 1% + 2vw, 62.5%);
    --bg-color: #121214;
    --text-color: #F8F8FC;
    --primary-color: #42D3FF;
    --controls-bg-color: #242424;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: grid;
    height: 100dvh;
    place-content: center;
}

#app {
    display: grid;
    justify-items: center;
}

.flex {
    display: flex;
}

#timer {
    font-size: 9.6rem;
    font-weight: bold;
    font-family: sans-serif;
}

#controls {
    margin-top: 1.6rem;
    padding: 2.2rem 4.4rem;
    gap: 1.6rem;
    background-color: var(--controls-bg-color);
    border-radius: 999rem;
}

button {
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 3.4rem;
}

.secondary {
    color: var(--text-color);
}

.running .ph-play-circle, 
.running .ph-timer,
.music-on .ph-speaker-none,
html::not(.running) .ph-pause-circle, 
html::not(.running) .ph-stop-circle, 
html::not(.running) .ph-speaker-high {
    display: none;
} 